// Put your variables for PWA demo here

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  phone: 480px,
  tablet: 840px,
  smalldesktop: 1200px
) !default;